<!DOCTYPE html>
<html>
<head>
	<title>Safetydome Fights</title>
</head>
<body>
	<table>
		<thead>
			<tr align='left'>
				<th>Fighter 1</th>
				<th>Fighter 2</th>
				<th>Winner</th>
				<th>Battle ID</th>
			</tr>
		</thead>

		<tbody>
			{% for fight in fights %}
			<tr>
				<td><a href="/combatant/{{ fight.one_id }}">{{ fight.one_name }}</a> vs.</td>
				<td><a href="/combatant/{{ fight.two_id }}">{{ fight.two_name }}</a></td>
				<td>{{ fight.winner }}</td>
				<td><a href="/battle/{{ fight.one_id }}-{{ fight.two_id }}">{{ fight.id }}</a></td>
			</tr>
			{% endfor %}
			<tbody>
	</table>

</body>
</html>
