<!DOCTYPE html>
<html>
<head>
	<title>Safetydome Rankings</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Rank</th>
				<th>Combatant</th>
				<th># of Wins</th>
			</tr>
		</thead>

		<tbody>
			{% for combatant in combatants %}
			<tr>
				<!---Changes from Samules for combatant--->
				<td>{{ combatant[3] }}</td>
				<td><a href="/combatant/{{ combatant[0] }}">{{ combatant[2] }}</a></td>
				<td>{{ combatant[1] }}</td>
			</tr>
			{% endfor %}
			<tbody>
	</table>

</body>
</html>
